/**
 * Styles for the works block.
 */
.works {
  background: url("../img/works-bg.jpg");
  background-position: top;
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  @media (max-width: 991px){
    padding: 20px 0;
  }

  // Selector styles
  // TODO: add code

  // @media queries
  // TODO: add code
  &__button:hover{
    opacity: .7;
    color: $color-button-hover;
    border: 2px solid;
  }
  // Pseudo-classes and pseudo-elements
  // TODO: add code

  // Nested selectors
  // TODO: add code
  .next-arrow{
    position: absolute;
    top: 50%;
    right: 20px;
    @media (max-width: 768px) {
      display: none;
    }
    }
  .prev-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .my-dots {
    position: absolute;
    bottom: 5px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 0px;
    padding: 0;
    cursor: pointer;
  }

  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }

  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }

  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }

  .my-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 64px;
    left: 0;
    width: 10px;
    height: 10px;
    content: " ";
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    opacity: .25;
    color: $color-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  .my-dots li.slick-active button:before {
    opacity: .75;
    color: $color-white;
  }
  // BEM elements
  // TODO: add code
  &__img {
    display: block;
    margin: 0 auto;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__title{
    text-align: center;
    color:$color-content;
    font-family:$font-family-ProximaNova;
    font-size: 36px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 54px;
    @media (max-width: 991px){
      margin: 0;
    }
  }
  &__sliderImg{
    margin: 0 auto;
  }
  &__button{
    display: block;
    margin: 0 auto;
    color: $color-white;
    font-family: $font-family-PTSans;
    font-size: 20px;
    font-style: italic;
    background: none;
    outline: none;
    border: 1px solid $color-white;
    padding: 11px 48px 14px 48px;
  }
  &__slick{
    margin-bottom: 98px;
    @media (max-width: 991px) {
      margin: 20px 0;
    }
  }

  // Bem modifiers
  // TODO: add code
}
